In [1]:
import pandas as pd

In [2]:
trips = pd.read_csv('../data/trentino_trasporti/trips.txt')

In [3]:
routes = pd.read_csv('../data/trentino_trasporti/routes.txt')

In [6]:
shapes = pd.read_csv('../data/trentino_trasporti/shapes.txt')

In [7]:
stop_times = pd.read_csv('../data/trentino_trasporti/stop_times.txt')

merge trips with routes by route_id so that each trip has a route associated to it now and a shape as well

In [ ]:
# final_df = trips.merge(routes, on='route_id').merge(shapes, on='shape_id').merge(stop_times, on='trip_id')

it turns out that merging on shapes is not that useful since it does not consider the entire path but only merges on a single value (since many share the same id)

In [23]:
final_df = trips.merge(routes, on='route_id').merge(stop_times, on='trip_id')

fromt this dataset we have information about each trip that should be carried out each day including also a

In [24]:
final_df = final_df.drop(['route_color', 'route_text_color', 'route_type', 'agency_id', 'service_id'], axis=1)

In [25]:
final_df.tail()

,route_id,trip_id,trip_headsign,direction_id,shape_id,wheelchair_accessible,route_short_name,route_long_name,arrival_time,departure_time,stop_id,stop_sequence
89590,570,0004254132025033120250612,Povo Piazza Manci,1,NaN,2.0,CM,Povo Borino Celva Passo Cimirlo,18:39:00,18:39:00,244,8
89591,570,0004254132025033120250612,Povo Piazza Manci,1,NaN,2.0,CM,Povo Borino Celva Passo Cimirlo,18:39:00,18:39:00,180,9
89592,570,0004254132025033120250612,Povo Piazza Manci,1,NaN,2.0,CM,Povo Borino Celva Passo Cimirlo,18:41:00,18:41:00,182,10
89593,570,0004254132025033120250612,Povo Piazza Manci,1,NaN,2.0,CM,Povo Borino Celva Passo Cimirlo,18:42:00,18:42:00,191,11
89594,570,0004254132025033120250612,Povo Piazza Manci,1,NaN,2.0,CM,Povo Borino Celva Passo Cimirlo,18:43:00,18:43:00,187,12

In [26]:
final_df.to_parquet('../data/parquet/aggregated_df.parquet')

In [27]:
pd.read_parquet('../data/parquet/aggregated_df.parquet', columns=['shape_pt_lon'])

ArrowInvalid: No match for FieldRef.Name(shape_pt_lon) in route_id: int64
trip_id: string
trip_headsign: string
direction_id: int64
shape_id: string
wheelchair_accessible: double
route_short_name: string
route_long_name: string
arrival_time: string
departure_time: string
stop_id: int64
stop_sequence: int64
__fragment_index: int32
__batch_index: int32
__last_in_fragment: bool
__filename: string

each trip is associated to a unique direction

In [22]:
final_df[final_df['trip_id']=='0004254122025033120250612']['direction_id'].unique()

array([1])

# From generated data

In [30]:
df = pd.read_csv('../data/generated/stop_times_passengers.csv')

In [45]:
df_with_shapes = df.merge(trips[['trip_id', 'shape_id']], on='trip_id').drop(['Unnamed: 0'], axis=1)

In [46]:
df_with_shapes.to_csv('../data/generated/stop_times_passengers_shapes.csv')

In [29]:
df.head()

,Unnamed: 0,stop_id,route_short_name,arrival_time,departure_time,trip_id,stop_sequence,hospital,school,passengers,passengers_out
0,0,3049,L1,06:32:00,06:32:00,0004187192024090920250612,1,0,0,8,1
1,1,3050,L1,06:32:00,06:32:00,0004187192024090920250612,2,0,0,12,3
2,2,3052,L1,06:33:00,06:33:00,0004187192024090920250612,3,0,0,20,7
3,3,3054,L1,06:34:00,06:34:00,0004187192024090920250612,4,0,0,14,3
4,4,3047,L1,06:35:00,06:35:00,0004187192024090920250612,5,0,0,13,2

In [33]:
import datetime

In [39]:
app_start = datetime.datetime(2025, 1, 1, 0, 0, 0)

In [38]:
pd.to_timedelta(df['arrival_time'])

0       0 days 06:32:00
1       0 days 06:32:00
2       0 days 06:33:00
3       0 days 06:34:00
4       0 days 06:35:00
              ...
89590   0 days 18:39:00
89591   0 days 18:39:00
89592   0 days 18:41:00
89593   0 days 18:42:00
89594   0 days 18:43:00
Name: arrival_time, Length: 89595, dtype: timedelta64[ns]

In [48]:
(app_start + pd.to_timedelta(df['arrival_time'])).iloc[0].isoformat()

'2025-01-01T06:32:00'

In [49]:
df[df['route_short_name']=='5']

,Unnamed: 0,stop_id,route_short_name,arrival_time,departure_time,trip_id,stop_sequence,hospital,school,passengers,passengers_out
556,556,247,5,06:26:00,06:26:00,0004187712024090920250612,1,0,0,11,7
557,557,407,5,06:28:00,06:28:00,0004187712024090920250612,2,0,0,25,5
558,558,444,5,06:30:00,06:30:00,0004187712024090920250612,3,0,0,17,7
559,559,165,5,06:31:00,06:31:00,0004187712024090920250612,4,0,0,18,4
560,560,166,5,06:33:00,06:33:00,0004187712024090920250612,5,0,0,21,7
...,...,...,...,...,...,...,...,...,...,...,...
83391,83391,451,5,08:39:00,08:39:00,0004248192025030620250612,15,0,0,22,7
83392,83392,176,5,08:41:00,08:41:00,0004248192025030620250612,16,0,0,18,3
83393,83393,276,5,08:42:00,08:42:00,0004248192025030620250612,17,0,0,11,0
83394,83394,403,5,08:44:00,08:44:00,0004248192025030620250612,18,0,0,18,5
83395,83395,2189,5,08:45:00,08:45:00,0004248192025030620250612,19,0,0,9,2