extract from dataframe for each routes the associated stops and write to a .txt file in format route:[stop1, stop2, etc.]

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../data/generated/stop_times_passengers.csv')

In [30]:
df.head()

,Unnamed: 0,stop_id,route_short_name,arrival_time,departure_time,trip_id,stop_sequence,hospital,school,passengers,passengers_out
0,0,3049,L1,06:32:00,06:32:00,0004187192024090920250612,1,0,0,8,1
1,1,3050,L1,06:32:00,06:32:00,0004187192024090920250612,2,0,0,12,3
2,2,3052,L1,06:33:00,06:33:00,0004187192024090920250612,3,0,0,20,7
3,3,3054,L1,06:34:00,06:34:00,0004187192024090920250612,4,0,0,14,3
4,4,3047,L1,06:35:00,06:35:00,0004187192024090920250612,5,0,0,13,2

In [31]:
len(df.route_short_name.unique())

35

In [32]:
sum(df['route_short_name'] == '5')

5461

In [4]:
import json

In [21]:
dct = dict()
routes = df['route_short_name'].unique()

for route in routes:
    filtered = df[df['route_short_name'] == route]
    associated_stops = filtered['stop_id'].unique().tolist()
    associated_times = pd.to_timedelta(pd.Series(filtered['departure_time'].unique())).dt.total_seconds().tolist()

    dct[route] = {
        "stops": associated_stops,
        "departure_times_seconds": associated_times
    }
# Save the result to a JSON file
with open("route_to_stops.json", "w") as f:
    json.dump(dct, f, indent=4)

In [22]:
with open("route_to_stops.json", "r") as f:
    route_stop_map = json.load(f)

In [23]:
len(route_stop_map['5']['stops'])

115

In [24]:
len(route_stop_map['5']['departure_times_seconds'])

1020

In [1]:
t = "2025-05-16 13:01:50"

In [2]:
from datetime import datetime

In [3]:
datetime.timestamp(t)

TypeError: descriptor 'timestamp' for 'datetime.datetime' objects doesn't apply to a 'str' object

In [ ]:
weekend = 1 if sim_time.weekday()