In [5]:
import pandas as pd
import numpy as np
import psycopg2
from utils.db_connect import create_db_connection
from sqlalchemy import create_engine

In [53]:
conn = create_db_connection(host='localhost')

count sensors

In [54]:
conn.rollback()
pd.read_sql("select COUNT(status), trip_id, timestamp from raw_sensors group by trip_id, timestamp order by timestamp", conn)

    count                    trip_id           timestamp
0       3  0004187712024090920250612 2025-05-16 06:33:00
1       2  0004187712024090920250612 2025-05-16 06:34:00
2       3  0004187712024090920250612 2025-05-16 06:36:00
3       4  0004187712024090920250612 2025-05-16 06:37:00
4       2  0004187712024090920250612 2025-05-16 06:38:00
5       3  0004187712024090920250612 2025-05-16 06:39:00
6       3  0004187712024090920250612 2025-05-16 06:40:00
7       3  0004187712024090920250612 2025-05-16 06:41:00
8       8  0004187712024090920250612 2025-05-16 06:42:00
9       6  0004187712024090920250612 2025-05-16 06:43:00
10      4  0004187712024090920250612 2025-05-16 06:44:00
11      7  0004187712024090920250612 2025-05-16 06:45:00
12      3  0004187712024090920250612 2025-05-16 06:46:00
13      3  0004187712024090920250612 2025-05-16 06:48:00
14      2  0004187712024090920250612 2025-05-16 06:50:00
15      6  0004187722024090920250612 2025-05-16 07:44:00
16      3  0004187722024090920250612 2025-05-16 07:46:00
17      6  0004187722024090920250612 2025-05-16 07:48:00
18      6  0004187722024090920250612 2025-05-16 07:49:00
19     10  0004187722024090920250612 2025-05-16 07:51:00
20      4  0004187722024090920250612 2025-05-16 07:52:00
21      5  0004187722024090920250612 2025-05-16 07:54:00
22      5  0004187722024090920250612 2025-05-16 07:55:00
23      5  0004187722024090920250612 2025-05-16 07:56:00
24      4  0004187722024090920250612 2025-05-16 07:57:00
25      4  0004187722024090920250612 2025-05-16 07:58:00
26      3  0004187722024090920250612 2025-05-16 07:59:00
27      4  0004187732024090920250612 2025-05-16 08:00:00
28      9  0004187722024090920250612 2025-05-16 08:00:00
29      7  0004187722024090920250612 2025-05-16 08:01:00
30      4  0004187722024090920250612 2025-05-16 08:02:00
31      8  0004187722024090920250612 2025-05-16 08:03:00
32      5  0004187722024090920250612 2025-05-16 08:04:00
33      5  0004187722024090920250612 2025-05-16 08:06:00
34      4  0004187722024090920250612 2025-05-16 08:08:00
35      4  0004187732024090920250612 2025-05-16 08:13:00
36      5  0004187732024090920250612 2025-05-16 08:15:00
37      4  0004187732024090920250612 2025-05-16 08:17:00
38      4  0004187732024090920250612 2025-05-16 08:18:00
39      8  0004187732024090920250612 2025-05-16 08:20:00
40      4  0004187732024090920250612 2025-05-16 08:21:00
41      3  0004187732024090920250612 2025-05-16 08:23:00
42      5  0004187732024090920250612 2025-05-16 08:25:00
43      6  0004187732024090920250612 2025-05-16 08:26:00
44      4  0004187732024090920250612 2025-05-16 08:27:00
45      6  0004187732024090920250612 2025-05-16 08:28:00
46      7  0004187732024090920250612 2025-05-16 08:29:00
47      5  0004187732024090920250612 2025-05-16 08:30:00

tickets

In [55]:
conn.rollback()
pd.read_sql("select COUNT(fare), trip_id, timestamp from raw_tickets group by trip_id, timestamp order by timestamp", conn)

    count                    trip_id           timestamp
0       3  0004187712024090920250612 2025-05-16 06:33:00
1       1  0004187712024090920250612 2025-05-16 06:34:00
2       2  0004187712024090920250612 2025-05-16 06:36:00
3       1  0004187712024090920250612 2025-05-16 06:37:00
4       2  0004187712024090920250612 2025-05-16 06:39:00
5       2  0004187712024090920250612 2025-05-16 06:40:00
6       4  0004187712024090920250612 2025-05-16 06:41:00
7       6  0004187712024090920250612 2025-05-16 06:42:00
8       7  0004187712024090920250612 2025-05-16 06:43:00
9       6  0004187712024090920250612 2025-05-16 06:44:00
10      9  0004187712024090920250612 2025-05-16 06:45:00
11      5  0004187712024090920250612 2025-05-16 06:46:00
12      2  0004187712024090920250612 2025-05-16 06:48:00
13      4  0004187712024090920250612 2025-05-16 06:50:00
14      8  0004187722024090920250612 2025-05-16 07:44:00
15      8  0004187722024090920250612 2025-05-16 07:46:00
16     11  0004187722024090920250612 2025-05-16 07:48:00
17     10  0004187722024090920250612 2025-05-16 07:49:00
18     15  0004187722024090920250612 2025-05-16 07:51:00
19     10  0004187722024090920250612 2025-05-16 07:52:00
20      7  0004187722024090920250612 2025-05-16 07:54:00
21      7  0004187722024090920250612 2025-05-16 07:55:00
22      6  0004187722024090920250612 2025-05-16 07:56:00
23      6  0004187722024090920250612 2025-05-16 07:57:00
24      5  0004187722024090920250612 2025-05-16 07:58:00
25      7  0004187722024090920250612 2025-05-16 07:59:00
26      5  0004187732024090920250612 2025-05-16 08:00:00
27     16  0004187722024090920250612 2025-05-16 08:00:00
28     11  0004187722024090920250612 2025-05-16 08:01:00
29      7  0004187722024090920250612 2025-05-16 08:02:00
30     16  0004187722024090920250612 2025-05-16 08:03:00
31      9  0004187722024090920250612 2025-05-16 08:04:00
32      9  0004187722024090920250612 2025-05-16 08:06:00
33      5  0004187722024090920250612 2025-05-16 08:08:00
34      5  0004187732024090920250612 2025-05-16 08:13:00
35      8  0004187732024090920250612 2025-05-16 08:15:00
36      8  0004187732024090920250612 2025-05-16 08:17:00
37      5  0004187732024090920250612 2025-05-16 08:18:00
38     14  0004187732024090920250612 2025-05-16 08:20:00
39      6  0004187732024090920250612 2025-05-16 08:21:00
40      7  0004187732024090920250612 2025-05-16 08:23:00
41      7  0004187732024090920250612 2025-05-16 08:25:00
42      6  0004187732024090920250612 2025-05-16 08:26:00
43      7  0004187732024090920250612 2025-05-16 08:27:00
44      9  0004187732024090920250612 2025-05-16 08:28:00
45     16  0004187732024090920250612 2025-05-16 08:29:00
46      7  0004187732024090920250612 2025-05-16 08:30:00

tickets correct

In [56]:
# count tickets for each trip
conn.rollback()
query = """
SELECT 
    COUNT(fare) as count_fare,
    trip_id,
    DATE_TRUNC('day', timestamp) as day,
    MAX(timestamp) as timestamp
FROM 
    raw_tickets 
GROUP BY 
    trip_id, 
    DATE_TRUNC('day', timestamp),
    DATE_TRUNC('month', timestamp),
    DATE_TRUNC('year', timestamp)
ORDER BY 
    day
"""

tickets =pd.read_sql(query, conn)
tickets.head()

   count_fare                    trip_id        day           timestamp
0         173  0004187722024090920250612 2025-05-16 2025-05-16 08:08:00
1         110  0004187732024090920250612 2025-05-16 2025-05-16 08:30:00
2          54  0004187712024090920250612 2025-05-16 2025-05-16 06:50:00

In [57]:
conn.rollback()

query = """
select trip_id, timestamp, traffic_level, normal, traffic
from traffic
"""
traffic = pd.read_sql(query, conn)
traffic.head()

,trip_id,timestamp,traffic_level,normal,traffic
0,0004187712024090920250612,2025-05-16 06:33:00,no traffic/low,909,975

In [58]:
traffic_tickets = traffic.merge(tickets, on='trip_id', how='inner')
traffic_tickets.head()

,trip_id,timestamp_x,traffic_level,normal,traffic,count_fare,day,timestamp_y
0,0004187712024090920250612,2025-05-16 06:33:00,no traffic/low,909,975,54,2025-05-16,2025-05-16 06:50:00

In [55]:
conn.rollback()
query = """
SELECT 
    w.*,
    tt.*
FROM 
    weather w
CROSS JOIN LATERAL (
    SELECT *
    FROM raw_tickets tt
    ORDER BY ABS(EXTRACT(EPOCH FROM (tt.timestamp - w.hour)))
    LIMIT 1
) tt
WHERE ABS(EXTRACT(EPOCH FROM (tt.timestamp - w.hour))) <= 7200  -- Within 1 hour (3600 seconds)
ORDER BY w.hour
"""

pd.read_sql(query, conn)

Empty DataFrame
Columns: [measurement_id, timestamp, latitude, longitude, weather_code, precipitation_probability, temperature, hour, ticket_id, timestamp, stop_id, route, passenger_type, fare, bus_id, trip_id]
Index: []

In [59]:
conn.rollback()

query = """
select *
from weather
"""
weather = pd.read_sql(query, conn)
weather = weather.rename(columns={'timestamp':'time'})
weather.head()

,measurement_id,time,latitude,longitude,weather_code,precipitation_probability,temperature,hour
0,1,2025-05-16 06:33:00,46.04,11.119999,3,0.0,12.7,2025-05-15 00:00:00
1,2,2025-05-16 06:33:00,46.04,11.119999,2,0.0,11.5,2025-05-15 01:00:00
2,3,2025-05-16 06:33:00,46.04,11.119999,1,0.0,11.8,2025-05-15 02:00:00
3,4,2025-05-16 06:33:00,46.04,11.119999,2,0.0,10.1,2025-05-15 03:00:00
4,5,2025-05-16 06:33:00,46.04,11.119999,2,0.0,10.8,2025-05-15 04:00:00

In [60]:
traffic_tickets['timestamp'] = pd.to_datetime(traffic_tickets['timestamp_x'])
weather['hour'] = pd.to_datetime(weather['hour'])

traffic_tickets = traffic_tickets.sort_values('timestamp')
weather = weather.sort_values('hour')

In [63]:
merged = pd.merge_asof(
    traffic_tickets,
    weather,
    left_on='timestamp',
    right_on='hour',          # match on timestamp column
    direction='backward',     # can also use 'backward' or 'forward'
    tolerance=pd.Timedelta('1h')  # optional: max time difference allowed
)

In [64]:
merged

,trip_id,timestamp_x,traffic_level,normal,traffic,count_fare,day,timestamp_y,timestamp,measurement_id,time,latitude,longitude,weather_code,precipitation_probability,temperature,hour
0,0004187712024090920250612,2025-05-16 06:33:00,no traffic/low,909,975,54,2025-05-16,2025-05-16 06:50:00,2025-05-16 06:33:00,31,2025-05-16 06:33:00,46.04,11.119999,0,0.0,12.5,2025-05-16 06:00:00

In [16]:
def find_closest(row_time, weather_df):
    deltas = abs(pd.to_datetime(row_time) - pd.to_datetime(weather_df['hour']))
    closest_idx = deltas.idxmin()
    return weather_df.loc[closest_idx]

In [22]:
weather['timestamp'].dtype

dtype('<M8[ns]')

In [24]:
traffic_tickets['timestamp_x'].apply(
    lambda ts: find_closest(ts, weather)
)

,measurement_id,timestamp,latitude,longitude,weather_code,precipitation_probability,temperature,hour
0,3792,2025-07-06 18:31:00,46.04,11.119999,1,0.0,12.4,2025-05-15 23:00:00
1,3792,2025-07-06 18:31:00,46.04,11.119999,1,0.0,12.4,2025-05-15 23:00:00
2,3792,2025-07-06 18:31:00,46.04,11.119999,1,0.0,12.4,2025-05-15 23:00:00
3,3792,2025-07-06 18:31:00,46.04,11.119999,1,0.0,12.4,2025-05-15 23:00:00
4,3792,2025-07-06 18:31:00,46.04,11.119999,1,0.0,12.4,2025-05-15 23:00:00
...,...,...,...,...,...,...,...,...
2141,3792,2025-07-06 18:31:00,46.04,11.119999,1,0.0,12.4,2025-05-15 23:00:00
2142,3792,2025-07-06 18:31:00,46.04,11.119999,1,0.0,12.4,2025-05-15 23:00:00
2143,3792,2025-07-06 18:31:00,46.04,11.119999,1,0.0,12.4,2025-05-15 23:00:00
2144,3792,2025-07-06 18:31:00,46.04,11.119999,1,0.0,12.4,2025-05-15 23:00:00
2145,3792,2025-07-06 18:31:00,46.04,11.119999,1,0.0,12.4,2025-05-15 23:00:00