In [5]:
from sqlalchemy import create_engine, text
import pandas as pd

In [11]:
# Connection settings
db_user = 'postgres'
db_pass = 'example'
db_host = 'localhost'
db_port = '5432'
db_name = 'raw_data'

# SQLAlchemy connection string
engine = create_engine(f'postgresql+psycopg2://{db_user}:{db_pass}@{db_host}:{db_port}/{db_name}')

In [12]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("SELECT MAX(bus_id) FROM bus"))
    for row in result:
        print(row[0])

213

In [ ]:
# Query the database
df = pd.read_sql("SELECT stop_times.stop_id, routes.route_short_name, stop_times.arrival_time, stop_times.departure_time, stop_times.trip_id, stop_times.stop_sequence FROM trips JOIN stop_times ON trips.trip_id = stop_times.trip_id JOIN routes ON trips.route_id = routes.route_id", engine)

In [11]:
df.head()

,route_id,service_id,trip_id,trip_headsign,direction_id,shape_id,wheelchair_accessible,trip_id,arrival_time,departure_time,stop_id,stop_sequence,route_id,agency_id,route_short_name,route_long_name,route_type,route_color,route_text_color
0,607,0000001432024090920250612,0004187192024090920250612,Sorni,False,None,NaN,0004187192024090920250612,06:32:00,06:32:00,3049,1,607,12,L1,01 Lavis Pressano Nave S.Felice Sorni,3,None,None
1,607,0000001432024090920250612,0004187192024090920250612,Sorni,False,None,NaN,0004187192024090920250612,06:32:00,06:32:00,3050,2,607,12,L1,01 Lavis Pressano Nave S.Felice Sorni,3,None,None
2,607,0000001432024090920250612,0004187192024090920250612,Sorni,False,None,NaN,0004187192024090920250612,06:33:00,06:33:00,3052,3,607,12,L1,01 Lavis Pressano Nave S.Felice Sorni,3,None,None
3,607,0000001432024090920250612,0004187192024090920250612,Sorni,False,None,NaN,0004187192024090920250612,06:34:00,06:34:00,3054,4,607,12,L1,01 Lavis Pressano Nave S.Felice Sorni,3,None,None
4,607,0000001432024090920250612,0004187192024090920250612,Sorni,False,None,NaN,0004187192024090920250612,06:35:00,06:35:00,3047,5,607,12,L1,01 Lavis Pressano Nave S.Felice Sorni,3,None,None

In [34]:
df.to_csv('/Users/anthony/Downloads/stop_times_w_route_names.csv')

In [15]:
len(df)

89595

In [18]:
df[df['stop_id'] == 183]

,stop_id,route_short_name,arrival_time,departure_time,trip_id,stop_sequence
570,183,5,06:42:00,06:42:00,0004187712024090920250612,15
593,183,5,08:00:00,08:00:00,0004187722024090920250612,15
616,183,5,08:29:00,08:29:00,0004187732024090920250612,15
752,183,5,07:35:00,07:35:00,0004187802024090920250612,15
862,183,5,07:22:00,07:22:00,0004187852024090920250612,15
...,...,...,...,...,...,...
49604,183,5,07:35:00,07:35:00,0004221242024090920250612,15
49627,183,5,07:41:00,07:41:00,0004221252024090920250612,15
49650,183,5,08:00:00,08:00:00,0004221262024090920250612,15
49673,183,5,08:15:00,08:15:00,0004221272024090920250612,15
49696,183,5,08:29:00,08:29:00,0004221292024090920250612,15

In [19]:
import numpy as np

In [ ]:
# lines that lead to hospitals
hospital = [1,2,3,"A",8,6,7]

In [24]:
df['hospital'] = np.where(df['route_short_name'].isin(hospital), 1, 0)

In [ ]:
# lines that lead to schools
school = [5,"5/",16,"P",10,9,19,3,1,6,"A",13]

In [ ]:
df['school'] =  np.where(df['route_short_name'].isin(school), 1, 0)

In [32]:
sum(df['school'])

3694

In [ ]:
sum(df['hospital'])

3147

In [1]:
import time

In [27]:
# Connection settings
db_user = 'postgres'
db_pass = 'example'
db_host = 'db'
db_port = '5432'
db_name = 'raw_data'

# SQLAlchemy connection string
engine = create_engine(f'postgresql+psycopg2://{db_user}:{db_pass}@{db_host}:{db_port}/{db_name}')

def create_db_connection():
    global engine
    connection = None
    while connection is None:
        try:
             connection = engine.connect()
        except Exception as e:
            print(f"DB not ready, retrying in 3 seconds... ({e})")
            time.sleep(3)
    return connection

# get the max number of buses
connection = create_db_connection()

In [28]:
shape_id = 'D2_C0542a_Ritorno_sub1'
with connection:
    result = connection.execute(text(f"SELECT shape_id, shape_pt_lat, shape_pt_lon, shape_pt_sequence FROM shapes WHERE shape_id = :shape_id"), {"shape_id": shape_id})
    for row in result:
        print(row)

('D2_C0542a_Ritorno_sub1', 46.0659, 11.15465, 1)
('D2_C0542a_Ritorno_sub1', 46.06612, 11.15504, 2)
('D2_C0542a_Ritorno_sub1', 46.06612, 11.15504, 3)
('D2_C0542a_Ritorno_sub1', 46.06639, 11.15629, 4)
('D2_C0542a_Ritorno_sub1', 46.06642, 11.15679, 5)
('D2_C0542a_Ritorno_sub1', 46.06636, 11.15713, 6)
('D2_C0542a_Ritorno_sub1', 46.06625, 11.15734, 7)
('D2_C0542a_Ritorno_sub1', 46.06475, 11.15872, 8)
('D2_C0542a_Ritorno_sub1', 46.06463, 11.15899, 9)
('D2_C0542a_Ritorno_sub1', 46.06462, 11.15916, 10)
('D2_C0542a_Ritorno_sub1', 46.06464, 11.15928, 11)
('D2_C0542a_Ritorno_sub1', 46.06475, 11.15942, 12)
('D2_C0542a_Ritorno_sub1', 46.06475, 11.15942, 13)
('D2_C0542a_Ritorno_sub1', 46.06482, 11.15947, 14)
('D2_C0542a_Ritorno_sub1', 46.06566, 11.15962, 15)
('D2_C0542a_Ritorno_sub1', 46.06643, 11.15992, 16)
('D2_C0542a_Ritorno_sub1', 46.06695, 11.16047, 17)
('D2_C0542a_Ritorno_sub1', 46.06793, 11.16178, 18)
('D2_C0542a_Ritorno_sub1', 46.0681, 11.16191, 19)
('D2_C0542a_Ritorno_sub1', 46.06825, 11.16183, 20)
('D2_C0542a_Ritorno_sub1', 46.06847, 11.16131, 21)
('D2_C0542a_Ritorno_sub1', 46.0686, 11.16111, 22)
('D2_C0542a_Ritorno_sub1', 46.06885, 11.16102, 23)
('D2_C0542a_Ritorno_sub1', 46.06905, 11.16106, 24)
('D2_C0542a_Ritorno_sub1', 46.0692, 11.16119, 25)
('D2_C0542a_Ritorno_sub1', 46.06967, 11.16196, 26)
('D2_C0542a_Ritorno_sub1', 46.07029, 11.1625, 27)
('D2_C0542a_Ritorno_sub1', 46.07041, 11.16254, 28)
('D2_C0542a_Ritorno_sub1', 46.07041, 11.16254, 29)
('D2_C0542a_Ritorno_sub1', 46.07035, 11.16279, 30)
('D2_C0542a_Ritorno_sub1', 46.07021, 11.16297, 31)
('D2_C0542a_Ritorno_sub1', 46.06921, 11.16329, 32)
('D2_C0542a_Ritorno_sub1', 46.06904, 11.16345, 33)
('D2_C0542a_Ritorno_sub1', 46.06886, 11.16374, 34)
('D2_C0542a_Ritorno_sub1', 46.06862, 11.16394, 35)
('D2_C0542a_Ritorno_sub1', 46.06765, 11.16427, 36)
('D2_C0542a_Ritorno_sub1', 46.06745, 11.16468, 37)
('D2_C0542a_Ritorno_sub1', 46.06733, 11.1652, 38)
('D2_C0542a_Ritorno_sub1', 46.06714, 11.16555, 39)
('D2_C0542a_Ritorno_sub1', 46.06695, 11.16575, 40)
('D2_C0542a_Ritorno_sub1', 46.0665, 11.16595, 41)
('D2_C0542a_Ritorno_sub1', 46.066, 11.1667, 42)
('D2_C0542a_Ritorno_sub1', 46.06598, 11.16682, 43)
('D2_C0542a_Ritorno_sub1', 46.06612, 11.16726, 44)
('D2_C0542a_Ritorno_sub1', 46.06611, 11.16738, 45)
('D2_C0542a_Ritorno_sub1', 46.06605, 11.16737, 46)
('D2_C0542a_Ritorno_sub1', 46.06591, 11.16713, 47)
('D2_C0542a_Ritorno_sub1', 46.06584, 11.16711, 48)
('D2_C0542a_Ritorno_sub1', 46.06571, 11.16718, 49)
('D2_C0542a_Ritorno_sub1', 46.06568, 11.16748, 50)
('D2_C0542a_Ritorno_sub1', 46.06571, 11.16769, 51)
('D2_C0542a_Ritorno_sub1', 46.0659, 11.16845, 52)
('D2_C0542a_Ritorno_sub1', 46.06601, 11.16875, 53)
('D2_C0542a_Ritorno_sub1', 46.06638, 11.16925, 54)
('D2_C0542a_Ritorno_sub1', 46.0664, 11.16936, 55)
('D2_C0542a_Ritorno_sub1', 46.06632, 11.1696, 56)
('D2_C0542a_Ritorno_sub1', 46.06626, 11.17003, 57)
('D2_C0542a_Ritorno_sub1', 46.06637, 11.17051, 58)
('D2_C0542a_Ritorno_sub1', 46.06628, 11.17066, 59)
('D2_C0542a_Ritorno_sub1', 46.06616, 11.17065, 60)
('D2_C0542a_Ritorno_sub1', 46.0659, 11.17029, 61)
('D2_C0542a_Ritorno_sub1', 46.06578, 11.16965, 62)
('D2_C0542a_Ritorno_sub1', 46.06567, 11.16964, 63)
('D2_C0542a_Ritorno_sub1', 46.06555, 11.16992, 64)
('D2_C0542a_Ritorno_sub1', 46.06545, 11.17042, 65)
('D2_C0542a_Ritorno_sub1', 46.0655, 11.17063, 66)
('D2_C0542a_Ritorno_sub1', 46.06541, 11.17141, 67)
('D2_C0542a_Ritorno_sub1', 46.06553, 11.17203, 68)
('D2_C0542a_Ritorno_sub1', 46.0657, 11.17224, 69)
('D2_C0542a_Ritorno_sub1', 46.0657, 11.17224, 70)
('D2_C0542a_Ritorno_sub1', 46.06618, 11.17268, 71)
('D2_C0542a_Ritorno_sub1', 46.06649, 11.17311, 72)
('D2_C0542a_Ritorno_sub1', 46.06691, 11.17455, 73)
('D2_C0542a_Ritorno_sub1', 46.06689, 11.17499, 74)
('D2_C0542a_Ritorno_sub1', 46.06693, 11.17504, 75)
('D2_C0542a_Ritorno_sub1', 46.06735, 11.17508, 76)
('D2_C0542a_Ritorno_sub1', 46.06754, 11.1752, 77)
('D2_C0542a_Ritorno_sub1', 46.0681, 11.17576, 78)
('D2_C0542a_Ritorno_sub1', 46.06826, 11.17599, 79)
('D2_C0542a_Ritorno_sub1', 46.06834, 11.17666, 80)
('D2_C0542a_Ritorno_sub1', 46.06834, 11.17699, 81)
('D2_C0542a_Ritorno_sub1', 46.06827, 11.17752, 82)
('D2_C0542a_Ritorno_sub1', 46.06814, 11.17791, 83)
('D2_C0542a_Ritorno_sub1', 46.06814, 11.17791, 84)
('D2_C0542a_Ritorno_sub1', 46.06815, 11.17806, 85)
('D2_C0542a_Ritorno_sub1', 46.06829, 11.17825, 86)
('D2_C0542a_Ritorno_sub1', 46.06899, 11.17869, 87)
('D2_C0542a_Ritorno_sub1', 46.06936, 11.17859, 88)
('D2_C0542a_Ritorno_sub1', 46.06968, 11.17839, 89)
('D2_C0542a_Ritorno_sub1', 46.06981, 11.17823, 90)
('D2_C0542a_Ritorno_sub1', 46.07038, 11.17688, 91)
('D2_C0542a_Ritorno_sub1', 46.07066, 11.17634, 92)
('D2_C0542a_Ritorno_sub1', 46.07084, 11.17636, 93)
('D2_C0542a_Ritorno_sub1', 46.07117, 11.17654, 94)
('D2_C0542a_Ritorno_sub1', 46.07176, 11.17668, 95)
('D2_C0542a_Ritorno_sub1', 46.0718, 11.17662, 96)
('D2_C0542a_Ritorno_sub1', 46.07186, 11.17669, 97)
('D2_C0542a_Ritorno_sub1', 46.07186, 11.17677, 98)
('D2_C0542a_Ritorno_sub1', 46.07179, 11.17681, 99)
('D2_C0542a_Ritorno_sub1', 46.07175, 11.17675, 100)
('D2_C0542a_Ritorno_sub1', 46.07175, 11.17675, 101)
('D2_C0542a_Ritorno_sub1', 46.07115, 11.17661, 102)
('D2_C0542a_Ritorno_sub1', 46.07081, 11.17643, 103)
('D2_C0542a_Ritorno_sub1', 46.07068, 11.17643, 104)
('D2_C0542a_Ritorno_sub1', 46.07042, 11.17692, 105)
('D2_C0542a_Ritorno_sub1', 46.06985, 11.17828, 106)
('D2_C0542a_Ritorno_sub1', 46.06973, 11.17843, 107)
('D2_C0542a_Ritorno_sub1', 46.06936, 11.17866, 108)
('D2_C0542a_Ritorno_sub1', 46.06897, 11.17876, 109)
('D2_C0542a_Ritorno_sub1', 46.06829, 11.17834, 110)
('D2_C0542a_Ritorno_sub1', 46.06829, 11.17855, 111)
('D2_C0542a_Ritorno_sub1', 46.06802, 11.17974, 112)
('D2_C0542a_Ritorno_sub1', 46.06791, 11.17995, 113)
('D2_C0542a_Ritorno_sub1', 46.06751, 11.1803, 114)
('D2_C0542a_Ritorno_sub1', 46.06746, 11.18062, 115)
('D2_C0542a_Ritorno_sub1', 46.06755, 11.18094, 116)
('D2_C0542a_Ritorno_sub1', 46.06764, 11.18106, 117)
('D2_C0542a_Ritorno_sub1', 46.06771, 11.1811, 118)
('D2_C0542a_Ritorno_sub1', 46.06818, 11.18095, 119)
('D2_C0542a_Ritorno_sub1', 46.06824, 11.18103, 120)
('D2_C0542a_Ritorno_sub1', 46.06822, 11.18121, 121)
('D2_C0542a_Ritorno_sub1', 46.06795, 11.18153, 122)
('D2_C0542a_Ritorno_sub1', 46.06768, 11.18177, 123)
('D2_C0542a_Ritorno_sub1', 46.06753, 11.18181, 124)
('D2_C0542a_Ritorno_sub1', 46.0674, 11.18179, 125)
('D2_C0542a_Ritorno_sub1', 46.06728, 11.18167, 126)
('D2_C0542a_Ritorno_sub1', 46.06676, 11.18096, 127)
('D2_C0542a_Ritorno_sub1', 46.0667, 11.18098, 128)
('D2_C0542a_Ritorno_sub1', 46.06667, 11.18106, 129)
('D2_C0542a_Ritorno_sub1', 46.06676, 11.18155, 130)
('D2_C0542a_Ritorno_sub1', 46.06689, 11.18198, 131)
('D2_C0542a_Ritorno_sub1', 46.06725, 11.18273, 132)
('D2_C0542a_Ritorno_sub1', 46.06725, 11.18273, 133)
('D2_C0542a_Ritorno_sub1', 46.06751, 11.18298, 134)
('D2_C0542a_Ritorno_sub1', 46.06767, 11.18344, 135)
('D2_C0542a_Ritorno_sub1', 46.06766, 11.18416, 136)
('D2_C0542a_Ritorno_sub1', 46.06756, 11.18456, 137)
('D2_C0542a_Ritorno_sub1', 46.06756, 11.18456, 138)
('D2_C0542a_Ritorno_sub1', 46.06764, 11.18467, 139)
('D2_C0542a_Ritorno_sub1', 46.0677, 11.18466, 140)
('D2_C0542a_Ritorno_sub1', 46.06777, 11.18466, 141)
('D2_C0542a_Ritorno_sub1', 46.06782, 11.18469, 142)
('D2_C0542a_Ritorno_sub1', 46.06784, 11.18476, 143)
('D2_C0542a_Ritorno_sub1', 46.06782, 11.18482, 144)
('D2_C0542a_Ritorno_sub1', 46.06779, 11.18485, 145)
('D2_C0542a_Ritorno_sub1', 46.06776, 11.18485, 146)

In [29]:
shapes_dct = dict()
connection = create_db_connection()
shapes_dct[shape_id] = dict()
with connection:
    result = connection.execute(text(f"SELECT shape_id, shape_pt_lat, shape_pt_lon, shape_pt_sequence FROM shapes WHERE shape_id = :shape_id"), {"shape_id": shape_id})
    for row in result:
        shapes_dct[shape_id][row[3]] = (row[1], row[2])

In [58]:
# get the max number of buses
connection = create_db_connection()
with connection:
    result = connection.execute(text("SELECT shapes.shape_id, stops.stop_id FROM shapes JOIN stops ON shapes.shape_pt_lat = stops.stop_lat AND shapes.shape_pt_lon = stops.stop_lon"))
    for row in result:
        print(row)

In [63]:
connection = create_db_connection()
# pd.read_sql("SELECT shapes.shape_id, stops.stop_id FROM shapes JOIN stops ON shapes.shape_pt_lat = stops.stop_lat AND shapes.shape_pt_lon = stops.stop_lon", connection)
pd.read_sql("SELECT shapes.shape_pt_lat from shapes", connection)['shape_pt_lat'].unique()

array([46.0659 , 46.06612, 46.06639, ..., 46.06234, 46.06458, 46.06671],
      shape=(11459,))

In [36]:
import numpy as np

In [50]:
np.sqrt(np.square(np.array(shapes_dct['D2_C0542a_Ritorno_sub1'][1])) + np.square(np.array(shapes_dct['D2_C0542a_Ritorno_sub1'][2])))

array([65.14717611, 15.77533309])

In [51]:
shapes_dct['D2_C0542a_Ritorno_sub1']

{1: (46.0659, 11.15465),
 2: (46.06612, 11.15504),
 3: (46.06612, 11.15504),
 4: (46.06639, 11.15629),
 5: (46.06642, 11.15679),
 6: (46.06636, 11.15713),
 7: (46.06625, 11.15734),
 8: (46.06475, 11.15872),
 9: (46.06463, 11.15899),
 10: (46.06462, 11.15916),
 11: (46.06464, 11.15928),
 12: (46.06475, 11.15942),
 13: (46.06475, 11.15942),
 14: (46.06482, 11.15947),
 15: (46.06566, 11.15962),
 16: (46.06643, 11.15992),
 17: (46.06695, 11.16047),
 18: (46.06793, 11.16178),
 19: (46.0681, 11.16191),
 20: (46.06825, 11.16183),
 21: (46.06847, 11.16131),
 22: (46.0686, 11.16111),
 23: (46.06885, 11.16102),
 24: (46.06905, 11.16106),
 25: (46.0692, 11.16119),
 26: (46.06967, 11.16196),
 27: (46.07029, 11.1625),
 28: (46.07041, 11.16254),
 29: (46.07041, 11.16254),
 30: (46.07035, 11.16279),
 31: (46.07021, 11.16297),
 32: (46.06921, 11.16329),
 33: (46.06904, 11.16345),
 34: (46.06886, 11.16374),
 35: (46.06862, 11.16394),
 36: (46.06765, 11.16427),
 37: (46.06745, 11.16468),
 38: (46.06733, 11.1652),
 39: (46.06714, 11.16555),
 40: (46.06695, 11.16575),
 41: (46.0665, 11.16595),
 42: (46.066, 11.1667),
 43: (46.06598, 11.16682),
 44: (46.06612, 11.16726),
 45: (46.06611, 11.16738),
 46: (46.06605, 11.16737),
 47: (46.06591, 11.16713),
 48: (46.06584, 11.16711),
 49: (46.06571, 11.16718),
 50: (46.06568, 11.16748),
 51: (46.06571, 11.16769),
 52: (46.0659, 11.16845),
 53: (46.06601, 11.16875),
 54: (46.06638, 11.16925),
 55: (46.0664, 11.16936),
 56: (46.06632, 11.1696),
 57: (46.06626, 11.17003),
 58: (46.06637, 11.17051),
 59: (46.06628, 11.17066),
 60: (46.06616, 11.17065),
 61: (46.0659, 11.17029),
 62: (46.06578, 11.16965),
 63: (46.06567, 11.16964),
 64: (46.06555, 11.16992),
 65: (46.06545, 11.17042),
 66: (46.0655, 11.17063),
 67: (46.06541, 11.17141),
 68: (46.06553, 11.17203),
 69: (46.0657, 11.17224),
 70: (46.0657, 11.17224),
 71: (46.06618, 11.17268),
 72: (46.06649, 11.17311),
 73: (46.06691, 11.17455),
 74: (46.06689, 11.17499),
 75: (46.06693, 11.17504),
 76: (46.06735, 11.17508),
 77: (46.06754, 11.1752),
 78: (46.0681, 11.17576),
 79: (46.06826, 11.17599),
 80: (46.06834, 11.17666),
 81: (46.06834, 11.17699),
 82: (46.06827, 11.17752),
 83: (46.06814, 11.17791),
 84: (46.06814, 11.17791),
 85: (46.06815, 11.17806),
 86: (46.06829, 11.17825),
 87: (46.06899, 11.17869),
 88: (46.06936, 11.17859),
 89: (46.06968, 11.17839),
 90: (46.06981, 11.17823),
 91: (46.07038, 11.17688),
 92: (46.07066, 11.17634),
 93: (46.07084, 11.17636),
 94: (46.07117, 11.17654),
 95: (46.07176, 11.17668),
 96: (46.0718, 11.17662),
 97: (46.07186, 11.17669),
 98: (46.07186, 11.17677),
 99: (46.07179, 11.17681),
 100: (46.07175, 11.17675),
 101: (46.07175, 11.17675),
 102: (46.07115, 11.17661),
 103: (46.07081, 11.17643),
 104: (46.07068, 11.17643),
 105: (46.07042, 11.17692),
 106: (46.06985, 11.17828),
 107: (46.06973, 11.17843),
 108: (46.06936, 11.17866),
 109: (46.06897, 11.17876),
 110: (46.06829, 11.17834),
 111: (46.06829, 11.17855),
 112: (46.06802, 11.17974),
 113: (46.06791, 11.17995),
 114: (46.06751, 11.1803),
 115: (46.06746, 11.18062),
 116: (46.06755, 11.18094),
 117: (46.06764, 11.18106),
 118: (46.06771, 11.1811),
 119: (46.06818, 11.18095),
 120: (46.06824, 11.18103),
 121: (46.06822, 11.18121),
 122: (46.06795, 11.18153),
 123: (46.06768, 11.18177),
 124: (46.06753, 11.18181),
 125: (46.0674, 11.18179),
 126: (46.06728, 11.18167),
 127: (46.06676, 11.18096),
 128: (46.0667, 11.18098),
 129: (46.06667, 11.18106),
 130: (46.06676, 11.18155),
 131: (46.06689, 11.18198),
 132: (46.06725, 11.18273),
 133: (46.06725, 11.18273),
 134: (46.06751, 11.18298),
 135: (46.06767, 11.18344),
 136: (46.06766, 11.18416),
 137: (46.06756, 11.18456),
 138: (46.06756, 11.18456),
 139: (46.06764, 11.18467),
 140: (46.0677, 11.18466),
 141: (46.06777, 11.18466),
 142: (46.06782, 11.18469),
 143: (46.06784, 11.18476),
 144: (46.06782, 11.18482),
 145: (46.06779, 11.18485),
 146: (46.06776, 11.18485)}

In [81]:
import random
import math

In [82]:
def compute_distance(shapes_dct):
    """
    Computes Manhattan distances between points for each shape in kilometers.
    Returns a dict: shape_id -> list of distances in km.
    """
    all_distances = {}
    for shape in shapes_dct:
        distances = []
        for coordinate in range(1, len(shapes_dct[shape]) - 1):
            lat1, lon1 = shapes_dct[shape][coordinate]
            lat2, lon2 = shapes_dct[shape][coordinate + 1]

            # Compute absolute lat/lon differences
            d_lat = abs(lat2 - lat1)
            d_lon = abs(lon2 - lon1)
            avg_lat = (lat1 + lat2) / 2

            # Convert degree diffs to km
            lat_km = d_lat * 111.32
            lon_km = d_lon * 111.32 * math.cos(math.radians(avg_lat))

            distance_km = lat_km + lon_km  # Manhattan distance in km
            distances.append(distance_km)
        
        all_distances[shape] = distances
    return all_distances

def generate_gps(msg, shape_id, index):
    global shapes_dct
    
    measurement_id = f"{msg['stop_id']}-{msg['route']}-{msg['timestamp']}-{random.randint(1000, 9999)}"
    
    distance = compute_distance(shapes_dct)
    curr_distance = distance[index]
    # wait based on distance between points
    # time.sleep(float(curr_distance))

    if index >= len(distance):
        print(f"Index {index} out of bounds for shape_id {shape_id}", flush=True)
        return None

    print(f"shape_id: {shape_id}, index: {index}, shape_data: {shapes_dct.get(shape_id)}", flush=True)

    # TODO: add simulated timestamp coherent with tickets and sensors

    return {
        "measurement_id": measurement_id,
        "timestamp": msg['timestamp'],
        "stop_id": msg['stop_id'],
        "route": msg['route'],
        "bus_id": msg['bus_id'],
        "trip_id": msg['trip_id'],
        "latitude": shapes_dct[shape_id][index][0],
        "longitude": shapes_dct[shape_id][index][1]
    }

In [67]:
msg = {}

In [83]:
compute_distance(shapes_dct)

{'D2_C0542a_Ritorno_sub1': [0.05461285439396815,
  0.0,
  0.12660229969293535,
  0.04195785493991129,
  0.03293962049439882,
  0.028464896457811088,
  0.2735681310421916,
  0.03421290554261847,
  0.014243830062059284,
  0.011495079204020774,
  0.023058646339254724,
  0.0,
  0.011654338825193351,
  0.10509452098464776,
  0.10888750407301706,
  0.10036626111351371,
  0.21027153086182807,
  0.028964853434768165,
  0.022876722664865477,
  0.06465196271848361,
  0.029918305919788175,
  0.03478099373630223,
  0.025353317956687764,
  0.026738251527283763,
  0.11178924812278562,
  0.11072341415758286,
  0.01644763959928766,
  0.0,
  0.025986936999665693,
  0.02948639582554023,
  0.13603420335968355,
  0.031281632648035324,
  0.04243515518636058,
  0.04216344855084812,
  0.13346764946321107,
  0.053930312204258965,
  0.053520668477174835,
  0.048183171995828056,
  0.03659792288159677,
  0.06554121242896563,
  0.11358754506204956,
  0.011494850863713288,
  0.04956908289587881,
  0.0103816298759499,
  0.007451569646587482,
  0.03412170508512414,
  0.009337145028887928,
  0.019878217394485094,
  0.026510850985182206,
  0.019559475689818022,
  0.07985118552558085,
  0.03541634185073032,
  0.07980680185254213,
  0.01072241839520788,
  0.02744237748259997,
  0.03989096843661469,
  0.0493187851859651,
  0.021604293271883977,
  0.014130767686715498,
  0.05674853244425411,
  0.06279027225997286,
  0.013017574613126328,
  0.03498493421860139,
  0.049750888059150206,
  0.02178594033031131,
  0.07026431448175674,
  0.06124584721722558,
  0.035144299194970155,
  0.0,
  0.08741795061599261,
  0.06772094136287024,
  0.1579743798574385,
  0.03621015960643912,
  0.008314590164615606,
  0.04984381925917806,
  0.030419006568135815,
  0.10559053681769182,
  0.03557502605309016,
  0.06065228513550452,
  0.02548715480625161,
  0.048726341250377295,
  0.044592856621349417,
  0.0,
  0.012698311293763094,
  0.03025925436566946,
  0.111906688378392,
  0.04891166340949023,
  0.051068830270151376,
  0.0268286938437083,
  0.16771471816074246,
  0.07287420613352301,
  0.021582208605470343,
  0.05063701322201994,
  0.07649092016912018,
  0.00908653934095378,
  0.012085224332712047,
  0.006178310164899411,
  0.010881557041634427,
  0.009086540179739984,
  0.0,
  0.07760412310797798,
  0.051750219518465514,
  0.014471599999847625,
  0.06678624796020957,
  0.168486955508375,
  0.02494316603387726,
  0.05895178676535275,
  0.051138064808639964,
  0.10813562660170886,
  0.0162191132047528,
  0.12196493294413521,
  0.028464408700732323,
  0.07156013938025112,
  0.030281199604228627,
  0.034733990649351766,
  0.01928698138225274,
  0.010881789316746047,
  0.06390555326977009,
  0.0128579187478494,
  0.016128512144926485,
  0.05477133095676394,
  0.048592688886648305,
  0.01978739323495433,
  0.01601630053486377,
  0.02262662419771981,
  0.11272371106331056,
  0.008223921103440326,
  0.009518489448395208,
  0.047864477306439106,
  0.047683046557069765,
  0.09800188457003745,
  0.0,
  0.04825198641935445,
  0.053339231849833316,
  0.05672221777392988,
  0.04202592954490982,
  0.0,
  0.017401432163855625,
  0.007451547399762343,
  0.007792400000100485,
  0.00788303694979135,
  0.007632816122752515,
  0.00686047096224926,
  0.005656636530115101]}

In [ ]:
import time

KeyError: 'stop_id'